{% extends 'master.html' %}
{% load static %}

{% block title %}
صفحه محصول
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="fw-bold text-purple">{{ product.name }}</h2>
    
    <p><strong>برند:</strong> {{ product.brand }}</p>
    <p><strong>توضیحات:</strong> {{ product.description }}</p>
    <p><strong>قیمت:</strong> {{ product.price }} ریال</p>
    <p><strong>دسته‌بندی:</strong> {{ product.get_category_display }}</p>

    <form action="{% url 'add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <label for="quantity">تعداد:</label>
        <input type="number" name="quantity" id="quantity" value="1" min="1" required>
        <br>
        <button type="submit" class="btn btn-purple">افزودن به سبد خرید</button>
    </form>
</div>
{% endblock %}
